function Spongbob.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 20
pop this 2
push constant 20
pop this 3
push constant 0
pop this 6
push pointer 0
call Spongbob.draw 1
pop temp 0
push pointer 0
return
function Spongbob.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Spongbob.get_y 0
push argument 0
pop pointer 0
push this 1
push this 4
add
push constant 16
add
return
function Spongbob.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 4
push constant 16
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
push constant 0
pop this 6
label IF_FALSE0
push this 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push constant 2
add
pop this 4
label IF_FALSE1
push this 1
push this 4
add
pop this 1
push this 1
call Spongbob.get_add 1
pop this 5
push pointer 0
push this 5
call Spongbob.draw_Spongbob 2
pop temp 0
push constant 0
return
function Spongbob.draw_Spongbob 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 5
push this 5
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 64
add
push constant 26599
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 96
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 128
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 160
add
push constant 28655
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 192
add
push constant 28703
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 224
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 288
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 352
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 384
add
push constant 32191
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 416
add
push constant 32191
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 448
add
push constant 32191
neg
call Memory.poke 2
pop temp 0
push this 5
push constant 480
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Spongbob.erase_Spongbob 0
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop this 5
push this 5
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 5
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Spongbob.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
call Spongbob.get_add 1
pop this 5
push pointer 0
push this 5
call Spongbob.erase_Spongbob 2
pop temp 0
push constant 0
return
function Spongbob.get_add 0
push constant 32
push argument 0
call Math.multiply 2
push constant 1
add
return
function Spongbob.jump 0
push argument 0
pop pointer 0
push this 6
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 6
push pointer 0
call Spongbob.erase 1
pop temp 0
push constant 18
neg
pop this 4
label IF_FALSE0
push constant 0
return
